<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C8BDBAC1EB6F8D2001EA059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8BDBC01EB6F8D3001EA059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8BDBCB1EB6F8D3001EA059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
